
body {
  font-family: 'Montserrat', sans-serif;

}

.App{
  
   
  /* background-image: url('./'); */
  background: linear-gradient(135deg, #f8f9fa, #ffffff);
  background-position: center center; /* Center the image */
  background-size: cover;             /* Cover entire div */
  background-repeat: no-repeat;       /* Prevent repetition */
  overflow: hidden;
    

}